.checkbox-wrapper-54 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--nav-links-color);
  transition: 0.4s;
  border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

.checkbox-wrapper-54 input:checked + .slider {
  background-color: var(--nav-links-color);
}

.checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: var(--nav-links-color);
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.7rem 2rem;
  box-shadow: 0 0 10px #303136;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--nav-background);
}

.nav_left a {
  text-decoration: none;
}
.nav_left h1 {
  color: #8983f7;
  text-shadow: 2px 2px 2px #000000;
}
.nav_left {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--nav-links-color);
}

header ul li a:hover,
header ul li a:active {
  color: var(--nav-link-hover);
}

.nav_right {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.nav_right span {
  font-weight: 600;
  color: var(--nav-links-color);
}

.hamburger {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--nav-links-color);
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu {
    display: none;
  }

  .nav_right {
    margin: 0;
  }

  .mobile-nav-menu {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--nav-background);
  }

  .mobile-nav-menu li {
    padding: 1rem;
    text-align: right;
  }
}
