@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: linear-gradient(45deg, rgb(241, 241, 241) 50%, rgb(158, 232, 255) 50%);
  --nav-background: #F8F9FA;
  --nav-links-color: #5dc2e0;
  --nav-link-hover: #116f8b;
  --primary-text: #000;
}

:root .dark{
  --main-background: linear-gradient(45deg, rgb(92, 92, 92) 50%, rgb(27, 27, 27) 50%);
  --nav-background: #212529;
  --nav-links-color: #a09d9d;
  --nav-link-hover: #dddcdc;
  --primary-text: #fff;
}


body {
  font-family: 'Roboto', sans-serif;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  min-height: 80vh;
  background: var(--main-background);
}